body{
  background-color: #92e5e8;  
  background-image: url(../images/game-back.jpg);
  background-repeat:no-repeat;
  background-size: cover;
}

#game-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
#intro-img{
  position: relative;
  border-radius: 10px;
}

#logo-img{
  margin: 50px;
  width: 200px;
  top: 20vh;
  left: 100vh;
}

#missile-logo{
  height: 4vh;
}

#levels{
  display: flex;
  flex-direction: row;
}

.level-class{
  background-color: rgba(78, 131, 149, 0.7) ;
  border: solid 2px rgb(8, 47, 111);
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 10px;
  text-align: center;
  margin-right: 35px;

  div{
    background-color: rgba(213, 67, 18, 0.375);
    color: white;
  }
  h3{
    text-align: left;
  }
}

.level-selected{
  border: solid 3px rgb(8, 47, 111);
  transform: scale(1.1);
  transition: transform ease-in-out;
}

.level-class:hover{
  background-color: rgba(32, 71, 83, 0.7) ;
}

.game-buttons:hover, #help:hover{
  transform: scale(1.2);
  transition: transform 1s ease-in-out;
}

.game-buttons{
  background-color: #d1150e8b;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: #fffac2;
  font-size: 1.8em;
  margin-top: 50px;
  padding: 10px 30px;
}

#game-help{
  align-items: center;
  display: none;
  flex-direction: column;
  text-align: center;
}

#help-info{
  background-color: #03415269;
  border: solid 2px rgb(21, 58, 118);
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 10px;
  margin: 20px 50px 50px 50px;

  h2{
    background-color: rgba(213, 67, 18, 0.375);
    color: white;
  }
}

.helper-button{
  background-color: #3aae70a0;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: #fffac2;
  font-size: 1em;
  margin-top: 50px;
  padding: 10px 30px;
}

#story{ 
  background-color: #03415269;
  border: solid 4px rgb(21, 58, 118);
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 1.4em;
  padding: 10px;
  margin: 30px;
  width: 600px;

  letter-spacing: .15em; /* Adjust as needed */
  animation: blink-caret .75s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

#game-container {
  display: none;
  padding: 20px 0px;
  justify-content: center;  
}

#game-screen {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0px;
  width: 30vw;
  height: 40vw;
  overflow: hidden;
  position: relative;
  background-image: url(../images/sea.jpg);
  background-size: cover;
  animation: slide 5s linear infinite;
}

@keyframes slide {
  0% {
    background-position: 0 -1000px;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 50px;
  }
}

#stats{
  text-align: center;
  margin-right: 50px;
  
  p{
    margin-top: 30px;
    font-size: 1.3em;
  }
}

#progress-area{
  display: flex;
  align-items: center;
}

#progress {
  width: 100%;
  background-color: #ddd;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  overflow: hidden;
  margin-bottom: 5px;
  z-index: 111;
}

#progressBar {
  height: 20px;
  background-color: #54b957;
  width: 0%;
  border-radius: 8px;
  z-index: 111;
}

#target-info{
  color:  #2d8e30;
  font-size: 1.2em;
  padding-bottom: 2px;
}

#missiles-area{
  display: flex;
  justify-content: center;
}

#missiles{
  display: flex;
  justify-content: center;
  margin-left: 15px;
}

.missile{
  height: 50px;
  margin-right: 5px;
}

.ship-rotate{
  transition: transform 0.5s;
}

.pirate-sway{
  animation: pirate-sway 5s;
  animation-iteration-count: infinite;
}

@keyframes pirate-sway {
  0% { transform:  rotate3d(0deg); }
  50% { transform:  rotate3d(1, 1, 1, 10deg); }
  100% { transform:  rotate3d(1, 1, 1,-10deg); }
}

.cargo-weight{
  font-size: 1.3em;
  padding-top: 15%;
  padding-left: 20%;
  transform : skewX(45deg);
}

.cargo-sway{
  animation: sway 5s;
  animation-iteration-count: infinite;
}

@keyframes sway {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  50% { transform: translate(1px, -1px) rotate(20deg); }
  100% { transform: translate(1px, -1px) rotate(-20deg); }
}

#sun-shine {
  align-self: flex-start;
  width: 80px;
  height: 80px;
  background-image: url('../images/sun/sun-rise.png');
  background-size: contain;
  border-radius: 50%;
  margin: 20px 20px 0 50px;
  z-index: 1000;
  animation: blink 1.5s infinite, scaleDown 60s forwards;; 
}

/* Keyframe animation to scale down the div */
@keyframes scaleDown {
  0% {
      transform: scale(1); /* Original size */
  }
  100% {
      transform: scale(0.65); /* Final scaled-down size */
  }
}

#game-option{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#timer-area{
  display: flex;
  align-items: center;
  font-size: 2em;
}

.sun{
  width: 80px;
  height: 80px;
  background-color: rgba(255, 221, 0, 0.38);
  border-radius: 50%;
  margin: 20px 20px 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timer{
  text-align: center;
  font-size: 1.3em;
}

/* Blinking keyframes */
@keyframes blink {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0.3;
  }
}

#new-game{
  background-color: #d1150e8b;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: #fffac2;
  font-size: 1em;
  margin-left: 50px;
  padding: 10px;
}

#game-end-modal{
  align-self: center;
  align-items: center;

  display: none;
  flex-direction: column;
  align-items:center;
  
  color: white;
  font-size: 1.3em;
  text-align: center;
  
  width: 35vh;
  height: 55vh;
  max-width: 500px;
  max-height: 550px;
  
  background-color: #034152cc;
  border: solid 2px rgb(21, 58, 118);
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 10px;
  margin: 20px 50px 50px 50px;
  z-index: 1000;
}

#restart-button{
  background-color: #d1150e8b;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: #fffac2;
  font-size: 1em;
  margin-top: 50px;
  padding: 10px 30px;
}

.star { /* Style for the star icons */
  font-size: 50px;
  color: gray;
}

.highlighted {
  color: gold;
}

#leaderboard{
  background-color: rgba(222, 198, 17, 0.452);
  letter-spacing: .15em; /* Adjust as needed */ 
  margin-top: 30px; 
}

#top-scorers{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.topper{
  display: flex;
  justify-content: space-between;
  letter-spacing: .10em; /* Adjust as needed */  
}